@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../root.scss';

.searchComp {
  margin: 20%;
}
.activeVisitsContainer {
  border: 1px solid #e0e0e0;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
  padding-bottom: 0;
}

/* Hide all elements by default when printing */
@media print {
  body * {
    visibility: hidden;
  }

  /* Only display elements with the 'printable' class */
  .printable * {
    visibility: visible;
    left: 0;
    top: 0;
  }
}

html[dir='rtl'] {
  .activeVisitsContainer {
    .activeVisitsDetailHeaderContainer {
      padding: spacing.$spacing-04 spacing.$spacing-05 spacing.$spacing-04 0;
    }
    .desktopHeading,
    .tabletHeading {
      h4 {
        text-align: right;
      }
    }
    div[role='search'] {
      & :first-child {
        svg {
          left: unset;
          right: spacing.$spacing-03;
        }
      }
      & :last-child {
        right: unset;
        left: 0;
      }
    }
    .tableContainer {
      th > div {
        text-align: right;
      }
      td {
        text-align: right;
        .serviceColor {
          margin-right: 0;
          margin-left: spacing.$spacing-03;
        }
        button {
          text-align: right;
        }
      }
    }
  }
}
